/* Enter your custom styles here */


.submitButton{
    margin-top: 20px;
}
.flexBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.GoBtn{
    align-items: end;  
}
.refreshBtn{
    margin-left: 5px;
}
.dashboardTable th{
    border: 1px solid #ddd;
    background-color: #e9f6f7;
}
.dashboardTable td{
    border: 1px solid #ddd;
}



